---
title: Misc improvements
---

1. We added background stories for individual relic pieces, and redesigned the relic details page. 
2. A question mark is now used as uniform fallback for missing images. 
3. Fine-tuned the relic rating algorithm so that it mirrors the quality of relic sets more accurately. 
