---
title: Search improvements
---

We added a number of hidden Character tags as small surprises. Feel free to explore.

For example, try searching for different community nicknames and see what appears.

**Note: Character tags collect commonly used community names. Their inclusion does not express an opinion about any Character.**
