---
title: New Feature: Relic Scores! 
---

We developed an algorithm for rating relic sets, which assigns to each relic piece a rating between 0 and 100; if your character is equipped with a full set of 6 relics, it additionally assigns an overall rating to the set. 

The algorithm considers all of the following factors: 
- Relic level
- Main stat suitability
- Effective substat hits (weighted)
- Certain stat threshold in traces of some characters
- Relic set integrity

We are still working on improving the algorithm. 

You can check the ratings for your relic sets by going to the Player Info page right now.  
