---
title: 'Major Update: HSR v4.6 Is Now Released!'
---

Game contents of v4.6 are now included. A brief overview here: 
1. New limited 5-star character: **Pearl** and limited 5-star LC: **Colors for Tomorrow**.
2. New relic sets: **Dreamlit Actor** and **The Edacious Heretic**.
3. New enemy unit: **Blood of the Fallen God: Yabuli**.
4. MoC seasons **Crossing the Afterlife** and **Survival of the Fittest**; PF season **Imagined Words**; AS season **Dominance of Oblivion**; AA season **Return to Roots**. 

Visual assets of some new content have not yet been updated. 
