---
title: 'New Feature: Details of Enemy Skills'
---

We now present a fresh new design of enemy skill cards, which features a list of skills and details of the selected one will be shown to the side. 

Multiplier(s) of most attacking skills are also displayed now. Apart from this, we additionally show the base chance of casting a debuff (if there IS one), and show the magnitude if Action Advance or Delay is involved in the skill. 
