---
title: New Enemy Stat Display: Initial Action Value
---

We added a a new stat Initial Action Value to the enemy template base stats table, which represents Action Value of the first turn. Most enemies have this stat set to 100%, typical exceptions include Mechanic Pom-Pom (50% instead of 100%). Go and check this! 