---
title: Internalization/Localization Support
---

The site now supports both Chinese and English. You can switch language through settings panel at bottom-right of the page. 

We also made some minor visual updates to the components, including overview card of Characters and Light Cones, while also adjusting structure of various pages. 

Multiple texts have also been adjusted in order to be precise. We are still working on the optimization of multilingual performance. 