---
title: 通过 UID 查询玩家信息
---

现在可以通过 UID 查询玩家公开资料，包括昵称、开拓等级、均衡等级、签名、角色/光锥/成就数量与「星海同行」角色等。

从玩家信息进入角色详情后，可以查看该角色的养成情况，包括等级、晋阶、面板属性、技能、行迹与星魂状态，以及当前装备的光锥、遗器信息等。

**玩家公开信息的查询由 MiHoMo API 提供支持。我们向此服务的开发者及维护者致以诚挚的谢意！**

本次更新同时改善了网站的性能。
