---
title: 「首回合行动值」——新的敌方单位基础属性数据展示
---

We added a a new stat Initial Action Value to the enemy template base stats table, which represents Action Value of the first turn. Most enemies have this stat set to 100%, typical exceptions include Mechanic Pom-Pom. Go and check this! 

现已将「首回合行动值」展示在敌方单位模板基础数据的表格里面。该属性值表示敌方单位第一回合的行动值。大多数敌方单位的此属性值都是 100%，但「合金机铠·帕姆王」是个典型的例外（50%）。现在就去敌方单位信息页面确认一下吧！